@font-face {
  font-family: 'Founders';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('../fonts/founders-grotesk-light.woff') format('woff');
}

@font-face {
  font-family: 'Ogg';
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  src: url('../fonts/ogg-light.woff') format('woff');
}

@font-face {
  font-family: 'Druk XCond Web';
  font-weight: 900;
  font-stretch: normal;
  src: url('../fonts/DrukXCond-Super-Web.woff') format('woff');
}

html {
  font-size: 100%;
  background: #eee;
}

body {
  font-family: Marcel, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  background-color: #fff;
  color: #1A1A1A;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  height: 100vh;
  width: 100vw;
}

h1, h2, h3 {
  margin: 0;
  font-style: normal;
  font-size: 12vh;
  font-style: normal;
  font-weight: 200;
  letter-spacing: -.015em;
  line-height: 1;
}

a{
  color: #1A1A1A;
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}